*{
  margin: 0;
  padding: 0;
}
.main{
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  }

.text{
  color: white;
  display: inline-block;
  width: 25%;
  margin-top: 100px;
  margin-left: 250px;
}

.card{
  background-color: rgba(17, 1, 1, 0.2) !important;
}

p {
  margin-top: 2em; /* Отступ сверху */
  margin-bottom: 2em;
}